@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?60876550');
  src: url('../font/fontello.eot?60876550#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?60876550') format('woff2'),
       url('../font/fontello.woff?60876550') format('woff'),
       url('../font/fontello.ttf?60876550') format('truetype'),
       url('../font/fontello.svg?60876550#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
    font-display: swap;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?60876550#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-help-circled:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-mail-alt:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-phone:before { content: '\e80b'; } /* '' */
.icon-left:before { content: '\e80c'; } /* '' */
.icon-right:before { content: '\e80d'; } /* '' */
.icon-up:before { content: '\e80e'; } /* '' */
.icon-down:before { content: '\e80f'; } /* '' */
.icon-print:before { content: '\e810'; } /* '' */
.icon-ok-circled:before { content: '\e811'; } /* '' */
.icon-plus:before { content: '\e812'; } /* '' */
.icon-cw:before { content: '\e813'; } /* '' */
.icon-search:before { content: '\e814'; } /* '' */
.icon-heart:before { content: '\e815'; } /* '' */
.icon-gift:before { content: '\e816'; } /* '' */
.icon-play:before { content: '\e817'; } /* '' */
.icon-lock:before { content: '\e818'; } /* '' */
.icon-lock-open:before { content: '\e819'; } /* '' */
.icon-link:before { content: '\e81a'; } /* '' */
.icon-gift-1:before { content: '\e81b'; } /* '' */
.icon-clipboard:before { content: '\e81c'; } /* '' */
.icon-floppy:before { content: '\e81d'; } /* '' */
.icon-plus-circled:before { content: '\e81e'; } /* '' */
.icon-minus:before { content: '\e81f'; } /* '' */
.icon-th-list:before { content: '\e820'; } /* '' */
.icon-th:before { content: '\e821'; } /* '' */
.icon-minus-circled:before { content: '\e822'; } /* '' */
.icon-info-circled:before { content: '\e823'; } /* '' */
.icon-home:before { content: '\e824'; } /* '' */
.icon-attach:before { content: '\e825'; } /* '' */
.icon-tag:before { content: '\e826'; } /* '' */
.icon-download:before { content: '\e827'; } /* '' */
.icon-upload:before { content: '\e828'; } /* '' */
.icon-edit:before { content: '\e829'; } /* '' */
.icon-retweet:before { content: '\e82a'; } /* '' */
.icon-print-1:before { content: '\e82b'; } /* '' */
.icon-comment:before { content: '\e82c'; } /* '' */
.icon-chat:before { content: '\e82d'; } /* '' */
.icon-trash-empty:before { content: '\e82e'; } /* '' */
.icon-location-1:before { content: '\e82f'; } /* '' */
.icon-folder-open:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-cog:before { content: '\e832'; } /* '' */
.icon-cog-alt:before { content: '\e833'; } /* '' */
.icon-wrench:before { content: '\e834'; } /* '' */
.icon-down-dir:before { content: '\e835'; } /* '' */
.icon-up-dir:before { content: '\e836'; } /* '' */
.icon-left-dir:before { content: '\e837'; } /* '' */
.icon-right-dir:before { content: '\e838'; } /* '' */
.icon-down-open:before { content: '\e839'; } /* '' */
.icon-left-open:before { content: '\e83a'; } /* '' */
.icon-right-open:before { content: '\e83b'; } /* '' */
.icon-up-open:before { content: '\e83c'; } /* '' */
.icon-down-big:before { content: '\e83d'; } /* '' */
.icon-left-big:before { content: '\e83e'; } /* '' */
.icon-right-big:before { content: '\e83f'; } /* '' */
.icon-up-big:before { content: '\e840'; } /* '' */
.icon-arrows-cw:before { content: '\e841'; } /* '' */
.icon-spin3:before { content: '\e842'; } /* '' */
.icon-spin5:before { content: '\e843'; } /* '' */
.icon-login:before { content: '\f02c'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-down-1:before { content: '\f175'; } /* '' */
.icon-up-1:before { content: '\f176'; } /* '' */
.icon-left-1:before { content: '\f177'; } /* '' */
.icon-right-1:before { content: '\f178'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-vimeo-squared:before { content: '\f194'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-paper-plane:before { content: '\f1d9'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-discover:before { content: '\f1f2'; } /* '' */
.icon-cc-amex:before { content: '\f1f3'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-amazon:before { content: '\f270'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-map-pin:before { content: '\f276'; } /* '' */
.icon-user:before { content: '\f277'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */